/* 
 * SocialLinks.css
 * This file contains styles for the social links section of the application
 * It defines the layout, appearance, and responsive behavior of the social links
 */

/* The flex container for all the social link icons */
div.social-links {
  /* Positioning and layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;

  /* Style */
  opacity: 0.9;
}

/* Each individual clickable social link icon */
a.social-link {
  padding: 2px;
  /* Style */
  background: none;
  background-color: var(--page-background);
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-out;
  color: var(--primary);
  font-size: clamp(18px, 4vw, 26px);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

a.social-link:hover {
  transform: scale(1.3) translateY(-5px);
}

[data-theme="dark"] a.social-link {
  color: var(--primary);
  opacity: 0.8;
}

/* Responsive scaling for smaller screens */
@media (max-width: 480px) {
  div.social-links {
    gap: clamp(3px, 1vw, 5px);
    width: 100%;
  }
}

@media (max-width: 320px) {
  a.social-link img {
    /* Maintain minimum size to prevent distortion */
    width: 18px;
    height: 18px;
  }

  div.social-links {
    gap: 3px;
  }
}
