/* 
 * CopyCodeBox.css
 * Styles for the Copy Code Box component.
 * This component allows users to copy code snippets with a button.
 */

.copy-code-box {
  /* Layout */
  margin-bottom: 24px;
  width: fit-content;
  padding: 15px;

  /* Styling */
  background-color: var(--panel-background-translucent);
  border-radius: 10px;
  border: 1px solid var(--outline);
}

.copy-code-box .copy-code-label {
  /* Layout */
  margin-bottom: 8px;

  /* Styling */
  color: var(--text);
  font-size: 16px;
}

.copy-code-box .copy-code-container {
  /* Layout */
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;

  /* Styling */
  border-radius: 8px;
  background: var(--panel-shadow-light);
  border: 1px solid var(--outline);
}

.copy-code-box .copy-code-text {
  /* Layout */
  flex-grow: 1;
  padding: 8px;
  overflow-x: auto;
  overflow-y: hidden;

  /* Text */
  word-break: break-all;
  line-height: 1.5;
  font-family: monospace;
  white-space: nowrap;

  /* Styling */
  border-radius: 8px 0 0 8px;
  background-color: var(--page-background);
  border: 1px solid var(--outline);
  color: var(--text);
}

.copy-code-box .copy-button {
  /* Layout */
  padding: 8px 16px;
  height: 100%;
  margin: 0px 5px;

  /* Styling */
  border-radius: 0 8px 8px 0;
  background-color: var(--positive);
  color: black;
  font-family: var(--font-display);
  font-size: 16px;
  border: 1px solid var(--outline);
  cursor: pointer;
  transition: all 0.2s;
}

[data-theme="dark"] .copy-code-box .copy-button {
  /* Dark mode styling */
  background-color: var(--positive-translucent);
  color: var(--positive);
  border: 1px solid var(--positive);
}

.copy-code-box .copy-button:hover {
  /* Hover effect */
  filter: brightness(1.1);
}

.copy-code-box .copy-button:active {
  /* Active effect */
  filter: brightness(0.9);
  transform: translateY(0);
}

.copy-code-success {
  /* Layout */
  margin-top: 8px;
  width: fit-content;
  padding: 4px 8px;

  /* Styling */
  color: var(--text);
  font-weight: 600;
  font-size: 14.4px;
  background-color: var(--positive);
  border-radius: 50px;
  border: 1px solid var(--outline);
}

[data-theme="dark"] .copy-code-success {
  /* Dark mode styling */
  background-color: var(--positive-translucent);
  color: var(--positive);
  border: 1px solid var(--positive);
}

@media (max-width: 600px) {
  .copy-code-box {
    /* Layout */
    width: 100%;
  }

  .copy-code-box .copy-code-text {
    /* Text Layout */
    font-size: 14.4px;
    padding: 8px;
  }

  .copy-code-box .copy-button {
    /* Layout */
    padding: 8px;
    font-size: 14.4px;
  }
}
